/* header.css */
.navbar {
  transition: background-color 0.3s ease;
}

.navbar-brand.title {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.logout {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .navbar-brand.title {
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand.title {
    font-size: 0.8rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.7rem;
  }
}

