.landing-page {
  margin-top: 8rem;
  border-color: #5498ff;
  border:  solid 1px #5498ff;
  border-radius: 60px;
}

.tracker-picture{
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 767px) {
  .tracker-picture {
    width: 100%; 
    height: auto; 
    max-height: 80vh; 
  }
}

@media (max-width: 575.98px) { 
  .description-column {
    margin-left: 0px; 
    margin-top: 12px; 
  }
  .landing-page h2{
    font-size: 1.7rem; 
  }
  .landing-page p {
    font-size: 1.1rem; 
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .description-column {
    margin-left: 12px; 
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  .description-column {
    margin-left: 16px; 
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .description-column {
    margin-left: 20px; 
  }
}

@media (min-width: 1200px) { 
  .description-column {
    margin-left: 55px; 
  }
}





