.transaction-table-wrapper {
  overflow-x: auto;
}

.transaction-table {
  width: 100%;
}

.incomes-type h2 {
  border-bottom: 1px solid #5498ff; 
  padding-bottom: 15px;
  margin-bottom: 15px; 
}

.transactions-type h2 {
  border-bottom: 1px solid #DC3545; 
  padding-bottom: 15px; 
  margin-bottom: 15px; 
}